html {
  visibility: visible;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #000000;
  margin: 0;
  overflow: hidden;
}

canvas{
  position: absolute;
  top: 0;
  width: 1440px;
  height: 742px;
  z-index: -1;
}

section {
  position: absolute;
  transition: opacity 500ms ease-out;
}

#hand {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-image: url('img/LHANDTHREE_trans.png');
  background-size: contain;
  background-position: 75% top;
  background-repeat: no-repeat;
}

#logo {
  position: absolute;
  height: 100%;
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#logo img {
  height: 75vh;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.window {
  width: 45vw;
  height: 25.3125vw;
  position: absolute;
  transition: opacity 500ms ease-in;
}

img.window {
  object-fit: contain;
}

article {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  padding: 1vw;
}

article p {
  margin: 0;
}

video.bg {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
}








