html {
  visibility: visible;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
}


.hidden-text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.no-events {
  pointer-events: none;
}

canvas {
  position: absolute;
  top: 0;
  width: 1440px;
  height: 742px;
  z-index: -1;
}

section {
  position: absolute;
  transition: transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.above {
 opacity: 0;
 transition: transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
 transform: translateZ(1000px);
 pointer-events: none;
}

.below {
  opacity: 0;
  transform: translateZ(-1000px);
  pointer-events: none;
}

#hand {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-image: url('img/LHANDTHREE_trans.png');
  background-size: contain;
  background-position: 75% top;
  background-repeat: no-repeat;
}

.spin {
  transition: transform 100ms linear;
}

#logo {
  position: absolute;
  height: 100%;
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo p {
  font-size: 38px;
  font-family: 'goth';
  margin: 0;
}

#logo img {
  height: 50vh;
}

#main {
  width: 100vw;
  height: 100vh;
}

.hidden {
  transform: scale(0) skew(20deg,10deg) !important;
  pointer-events: none;
}

.window-parent {
  display: inline-block;
  position: absolute;
}

.window {
  position: absolute;
  transform: scale(1) skew(0deg,0deg);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: white;
  max-height: 35vh;
  object-fit: contain;
  -webkit-box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.75);
}

article {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  padding: 1vw;
}

article p {
  margin: 0;
  font-family: 'goth';
}

.shadow {
  opacity: 0;
  max-height: 35vh;
  object-fit: contain;
}

video.bg {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
}








